Backend/Smart Reporter.blueprint.json
{
    "name": "Smart Reporter",
    "flow": [
        {
            "id": 4,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 3185485,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -306,
                    "y": -369
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "smart_reporter_generate_report"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "supabase:searchRows",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 8019776
            },
            "mapper": {
                "limit": "1",
                "table": "kpi_metrics"
            },
            "metadata": {
                "designer": {
                    "x": -6,
                    "y": -369
                },
                "restore": {
                    "expect": {
                        "table": {
                            "mode": "chose",
                            "label": "kpi_metrics",
                            "nested": [
                                {
                                    "name": "search",
                                    "type": "filter",
                                    "label": "Search criteria",
                                    "options": {
                                        "logic": "and",
                                        "store": [
                                            {
                                                "label": "id",
                                                "value": "id"
                                            },
                                            {
                                                "label": "total_calls",
                                                "value": "total_calls"
                                            },
                                            {
                                                "label": "tickets_resolved",
                                                "value": "tickets_resolved"
                                            },
                                            {
                                                "label": "avg_csat",
                                                "value": "avg_csat"
                                            },
                                            {
                                                "label": "active_agents",
                                                "value": "active_agents"
                                            },
                                            {
                                                "label": "emails_pending",
                                                "value": "emails_pending"
                                            },
                                            {
                                                "label": "missed_calls",
                                                "value": "missed_calls"
                                            },
                                            {
                                                "label": "created_at",
                                                "value": "created_at"
                                            }
                                        ],
                                        "operators": [
                                            {
                                                "label": "Text",
                                                "options": [
                                                    {
                                                        "label": "Equals",
                                                        "value": "text:eq."
                                                    },
                                                    {
                                                        "label": "Does not equal",
                                                        "value": "text:neq."
                                                    },
                                                    {
                                                        "label": "Contains (case sensitive)",
                                                        "value": "text:like."
                                                    },
                                                    {
                                                        "label": "Contains (case insensitive)",
                                                        "value": "text:ilike."
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Numbers",
                                                "options": [
                                                    {
                                                        "label": "Equals",
                                                        "value": "number:eq."
                                                    },
                                                    {
                                                        "label": "Does not equal",
                                                        "value": "number:neq."
                                                    },
                                                    {
                                                        "label": "Greater than",
                                                        "value": "number:gt."
                                                    },
                                                    {
                                                        "label": "Less than",
                                                        "value": "number:lt."
                                                    },
                                                    {
                                                        "label": "Greater than or equal to",
                                                        "value": "number:gte."
                                                    },
                                                    {
                                                        "label": "Less than or equal to",
                                                        "value": "number:lte."
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Date",
                                                "options": [
                                                    {
                                                        "label": "Equals",
                                                        "value": "date:eq."
                                                    },
                                                    {
                                                        "label": "Does not equal",
                                                        "value": "date:neq."
                                                    },
                                                    {
                                                        "label": "Later than",
                                                        "value": "date:gt."
                                                    },
                                                    {
                                                        "label": "Earlier than",
                                                        "value": "date:lt."
                                                    },
                                                    {
                                                        "label": "Later than or equal to",
                                                        "value": "date:gte."
                                                    },
                                                    {
                                                        "label": "Earlier than or equal to",
                                                        "value": "date:lte."
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Boolean",
                                                "options": [
                                                    {
                                                        "label": "Equals",
                                                        "value": "boolean:eq."
                                                    },
                                                    {
                                                        "label": "Does not equal",
                                                        "value": "boolean:neq."
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "supabase"
                            },
                            "label": "Smart Reporter"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:supabase",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "search",
                        "type": "filter",
                        "label": "Search criteria",
                        "options": {
                            "logic": "and",
                            "store": [
                                {
                                    "label": "id",
                                    "value": "id"
                                },
                                {
                                    "label": "total_calls",
                                    "value": "total_calls"
                                },
                                {
                                    "label": "tickets_resolved",
                                    "value": "tickets_resolved"
                                },
                                {
                                    "label": "avg_csat",
                                    "value": "avg_csat"
                                },
                                {
                                    "label": "active_agents",
                                    "value": "active_agents"
                                },
                                {
                                    "label": "emails_pending",
                                    "value": "emails_pending"
                                },
                                {
                                    "label": "missed_calls",
                                    "value": "missed_calls"
                                },
                                {
                                    "label": "created_at",
                                    "value": "created_at"
                                }
                            ],
                            "operators": [
                                {
                                    "label": "Text",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "value": "text:eq."
                                        },
                                        {
                                            "label": "Does not equal",
                                            "value": "text:neq."
                                        },
                                        {
                                            "label": "Contains (case sensitive)",
                                            "value": "text:like."
                                        },
                                        {
                                            "label": "Contains (case insensitive)",
                                            "value": "text:ilike."
                                        }
                                    ]
                                },
                                {
                                    "label": "Numbers",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "value": "number:eq."
                                        },
                                        {
                                            "label": "Does not equal",
                                            "value": "number:neq."
                                        },
                                        {
                                            "label": "Greater than",
                                            "value": "number:gt."
                                        },
                                        {
                                            "label": "Less than",
                                            "value": "number:lt."
                                        },
                                        {
                                            "label": "Greater than or equal to",
                                            "value": "number:gte."
                                        },
                                        {
                                            "label": "Less than or equal to",
                                            "value": "number:lte."
                                        }
                                    ]
                                },
                                {
                                    "label": "Date",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "value": "date:eq."
                                        },
                                        {
                                            "label": "Does not equal",
                                            "value": "date:neq."
                                        },
                                        {
                                            "label": "Later than",
                                            "value": "date:gt."
                                        },
                                        {
                                            "label": "Earlier than",
                                            "value": "date:lt."
                                        },
                                        {
                                            "label": "Later than or equal to",
                                            "value": "date:gte."
                                        },
                                        {
                                            "label": "Earlier than or equal to",
                                            "value": "date:lte."
                                        }
                                    ]
                                },
                                {
                                    "label": "Boolean",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "value": "boolean:eq."
                                        },
                                        {
                                            "label": "Does not equal",
                                            "value": "boolean:neq."
                                        }
                                    ]
                                }
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "id"
                    },
                    {
                        "name": "total_calls",
                        "type": "number",
                        "label": "total_calls"
                    },
                    {
                        "name": "tickets_resolved",
                        "type": "number",
                        "label": "tickets_resolved"
                    },
                    {
                        "name": "avg_csat",
                        "type": "text",
                        "label": "avg_csat"
                    },
                    {
                        "name": "active_agents",
                        "type": "number",
                        "label": "active_agents"
                    },
                    {
                        "name": "emails_pending",
                        "type": "number",
                        "label": "emails_pending"
                    },
                    {
                        "name": "missed_calls",
                        "type": "number",
                        "label": "missed_calls"
                    },
                    {
                        "name": "created_at",
                        "type": "text",
                        "label": "created_at"
                    }
                ]
            }
        },
        {
            "id": 1,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "report_text",
                "scope": "roundtrip",
                "value": "Smart Reporter - Operations Summary\r\n\r\nTotal Calls Handled: {{3.total_calls}}\r\nTickets Resolved: {{3.tickets_resolved}}\r\nAverage CSAT: {{3.avg_csat}}\nActive Agents: {{3.active_agents}}\r\nMissed Calls: {{3.missed_calls}}\r\nEmails Pending: {{3.emails_pending}}\n\r\nOperational performance remained stable during this reporting cycle. Customer satisfaction remained high while missed calls stayed within acceptable range.\r\n\r\nRecommendations:\r\n\r\n* Continue current staffing levels\r\n* Monitor pending emails closely\r\n* Maintain current scheduling coverage"
            },
            "metadata": {
                "designer": {
                    "x": 297,
                    "y": -421
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "report_text",
                        "type": "any",
                        "label": "report_text"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "google-email:sendAnEmail",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 8016113
            },
            "mapper": {
                "to": [
                    "gzl2417kar@gmail.com"
                ],
                "content": "<h2>📊 Smart Reporter - Operations Summary</h2>\r\n\r\n<hr>\r\n\r\n<h3>📞 KPI Overview</h3>\r\n\r\n<ul>\r\n<li><strong>Total Calls Handled:</strong> {{3.total_calls}}</li>\r\n<li><strong>Tickets Resolved:</strong> {{3.tickets_resolved}}</li>\r\n<li><strong>Average CSAT:</strong>{{3.avg_csat}} </li>\r\n<li><strong>Active Agents:</strong>{{3.active_agents}} </li>\r\n<li><strong>Missed Calls:</strong>{{3.missed_calls}} </li>\r\n<li><strong>Emails Pending:</strong>{{3.emails_pending}} </li>\r\n</ul>\r\n\r\n<h3>🧠 Operational Summary</h3>\r\n\r\n<p>\r\nOperational performance remained stable during this reporting cycle.\r\nCustomer satisfaction remained high while missed calls stayed within acceptable range.\r\n</p>\r\n\r\n<h3>⚠ Recommendations</h3>\r\n\r\n<ul>\r\n<li>Continue current staffing levels</li>\r\n<li>Monitor pending emails closely</li>\r\n<li>Maintain current scheduling coverage</li>\r\n</ul>\r\n\r\n<hr>\r\n\r\n<p><em>Generated automatically by Smart Reporter</em></p>\r\n",
                "subject": "Smart Reporter Operations Report",
                "bodyType": "rawHtml"
            },
            "metadata": {
                "designer": {
                    "x": 594,
                    "y": -369
                },
                "restore": {
                    "expect": {
                        "cc": {
                            "mode": "chose"
                        },
                        "to": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "bcc": {
                            "mode": "chose"
                        },
                        "from": {
                            "mode": "chose"
                        },
                        "bodyType": {
                            "label": "Raw HTML"
                        },
                        "attachments": {
                            "mode": "chose"
                        },
                        "emailHeaders": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-email"
                            },
                            "label": "My Gmail connection (karanchoice8343@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-email",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "to",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Recipient email address",
                            "required": true,
                            "validate": true
                        },
                        "type": "array",
                        "label": "To",
                        "required": true
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "rawHtml",
                                "collection"
                            ]
                        }
                    },
                    {
                        "name": "attachments",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "filename",
                                    "type": "filename",
                                    "label": "File name",
                                    "required": true,
                                    "semantic": "file:name"
                                },
                                {
                                    "name": "data",
                                    "type": "buffer",
                                    "label": "Data",
                                    "required": true,
                                    "semantic": "file:data"
                                }
                            ],
                            "type": "collection",
                            "label": "Attachment"
                        },
                        "type": "array",
                        "label": "Attachments"
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "From"
                    },
                    {
                        "name": "cc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Recipient email address"
                        },
                        "type": "array",
                        "label": "CC recipients"
                    },
                    {
                        "name": "bcc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Recipient email address"
                        },
                        "type": "array",
                        "label": "BCC recipients"
                    },
                    {
                        "name": "emailHeaders",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Key",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Email header"
                        },
                        "type": "array",
                        "label": "Additional email headers"
                    },
                    {
                        "name": "content",
                        "type": "text",
                        "label": "Content"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}